$color-black: #1e1e1e;
$color-white: #f4f4f4;
$color-grey: #797979;
$color-blue: #3939ae;

$font-size-h1: 2rem;
$font-size-h2: 1.8rem;
$font-size-h3: 1rem;
$font-size-p: .8rem;

$screen-size-md: 800px;
$screen-size-sm: 500px;